body {
    background-color: red;
}

body p {
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
}

#header{
    width: 1280px;
    height: 500px;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}